@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap");

.search-movies-title {
  text-align: center;
  font-size: 2rem;
  font-family: "Baloo Da 2";
  font-weight: 600;
  margin-top: 2%;
  text-align: center;
}

.input {
  font-size: 1.3rem;
  padding: 1rem 5rem;
  border-radius: 20px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 25px #000000;
  margin: 2% 0px 0px 34%;
}

.search-button {
  font-size: 1.2rem;
  outline: none;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 60px;
  box-shadow: 0px 0px 15px rgb(0, 0, 0);
  margin-left: 1%;
}
.movies-container {
  margin: 0px 25%;
}
.showing-results {
  display: none;
  font-family: "Baloo Da 2";
  text-align: center;
  padding-top: 1rem;
}
p {
  font-size: 1.2em;
}
.card {
  padding: 2rem 1.5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 25px black;
  margin: 2rem;
  background-color: white;
  text-align: center;
  font-family: sans-serif;
}

.card--title {
  margin: 0.5rem;
  font-size: 3.2rem;
}

.card--image {
  margin: 0 auto;
  display: block;
}
.card--desc {
  text-align: justify;
}
/* mobile */
@media only screen and (max-width: 450px) {
  .search-movies-title {
    margin: 5vw 0px 0px 15vw;
  }
  .input {
    padding: 1rem 0.5rem;
    margin: 5% 0 0 5%;
    text-align: center;
  }
  .search-button {
    padding: 1rem 1.3rem;
    border-radius: 60px;

    margin: 0 0% 5% 5%;
  }
  .movies-container {
    margin: 0px;
  }
  .card--title {
    font-size: 2rem;
  }
  .card {
    font-size: 0.8em;
  }
}
/* tablet */
@media screen and (min-width: 700px) and (max-width: 980px) {
  .search-movies-title {
    margin: 5% 0px 0px 25%;
  }
  .input {
    padding: 1rem 3rem;
    margin: 2% 2% 3% 20%;
  }

  .movies-container {
    margin: 0px;
  }
  .card--title {
    font-size: 2rem;
  }
}
/* smaller mobiles */
@media only screen and (min-width: 300px) and (max-width: 400px) {
  .search-movies-title {
    margin: 5vw 0px 0px 8vw;
  }

  .movies-container {
    margin: -10px;
  }
  .card--title {
    font-size: 1.8rem;
  }
}
